.header{
    padding-bottom: 50px;
}
li {
    float: right;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }
  
  .flex-container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }
    #button{
    width: 100px;
    border-radius: 10px;
    padding: 4px;
  }
/*---------------------galeria de imagenes--------------------------*/
#info-title{
    display: flex;
    justify-content: center;
}
.information-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  /*------------seccion comentario usuarios-------------*/
  .quote-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* width: 300px;*/ 
  }
  #quote-text{
    width: 300px;
  }
  #username{
    display: flex;
    justify-content: right;
  }
  /*----Parte baja de la pagina------*/
  .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .call-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(48, 92, 235);
    height: 100px;
    width: 600px;
  }/*Tengo que juntar mas las lineas del texto*/
  #call-text{
    display: flex;
    flex-direction: column;
    padding-top: -15px;
  }
  #button-part{
    padding-left: 40px;
  }
  #call-button{
    padding: 10px, 24px;
    border-radius: 10px;
    align-items: right;
    border: 2px solid #4CAF50;
    height: max-content;
  }