.header{
    padding-bottom: 50px;
    background-color: #1f2937;
}
ul {
  list-style-type: none;
  margin:  0px;
  overflow: hidden;
  background-color: #1f2937;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

li a:hover {
  background-color: #111;
}

a {
  display: block;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li {
  display: inline;
  float: left;
  }
  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
    .title-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 150px;
    padding-bottom: 100px;
    padding-left: 25px;
    margin-left: 25px;
    width: 400px;
  }
  #title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
  }
  #hero-text{
    color: #e5e7eb;
    font-size: 18px;
  }
    #button{
    width: 100px;
    border-radius: 10px;
    padding: 4px;
    background-color: #3882f6;
  }
  .img-principal{
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: end;
    margin:50px;
    padding-top: 20px;
      
  }
/*---------------------galeria de imagenes--------------------------*/
#info-title{
    display: flex;
    justify-content: center;
}
.information-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  /*------------seccion comentario usuarios-------------*/
  .quote-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* width: 300px;*/ 
  }
  #quote-text{
    width: 300px;
  }
  #username{
    display: flex;
    justify-content: right;
  }
  /*----Parte baja de la pagina------*/
  .container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .call-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(48, 92, 235);
    height: 100px;
    width: 600px;
  }/*Tengo que juntar mas las lineas del texto*/
  #call-text{
    display: flex;
    flex-direction: column;
    padding: -15px;
  }
  #button-part{
    padding-left: 40px;
  }
  #call-button{
    padding: 10px, 24px;
    border-radius: 10px;
    align-items: right;
    border: 2px solid #4CAF50;
    height: max-content;
  }

  footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
  }